.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/.quarto/
/data_t1/
/data_t2/
/data_t3/
/data_t4/

demos/
.DS_Store
Icon
paquetes Demografía.pptx
paquetes.qmd
spanish-gsd-ud-2.5-191206.udpipe
04_ppt2023.pdf
04_ppt2023.pptx
